<mat-toolbar class="login-toolbar" color="primary">Registrarse</mat-toolbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-12 offset-sm-0">
            <mat-card>
                <mat-card-content>
                    <form [formGroup]="formReg" #formDirective="ngForm" (ngSubmit)="onSubmit()">
                        <mat-form-field>
                            <mat-icon matPrefix>email</mat-icon>
                            <input autofocus type="email" matInput placeholder="Correo Electrónico"
                                formControlName="email">
                            <mat-hint style="color: red;" *ngIf="errorReg">Error creando el usuario</mat-hint>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-icon matPrefix>lock_outline</mat-icon>
                            <input type="password" autocomplete="false" matInput placeholder="Password"
                                formControlName="password">
                        </mat-form-field>
                        <br>
                        <div style="display:flex; justify-content: center;">
                            <button type="submit" mat-raised-button color="primary">Crear</button>
                        </div>
                        <br>
                    </form>
                    <mat-card-actions align="end">
                        <button mat-button routerLink="/">Entrar con mi cuenta</button>
                        <button mat-button (click)="onGoogleLogin()">Entrar con Google</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>